.mainframe {
  background-color: $background;
  padding: 1.25rem;
  border-radius: 6px;

  &_profile {
    font-family: "Iosevka Nerd Font";
    background-image: url('assets/profile.jpg');
    background-size: 13.4rem;
    background-position: 50% 35%;
    min-height: 13rem;
    min-width: 42px;
    border-radius: 5px;


    &_box {
      padding: 1rem;
      background: linear-gradient(to right, rgba($background, .7), rgba($background, 0.5));
    }
  }

  &_button {
    font-family: "Material Design Icons Desktop";
    border-radius: 50%;
    background: $background-light;
    padding: 0rem;
    font-size: 1.6rem;


    &_label {
      font-family: "Iosevka Nerd Font";
      font-size: 1.1rem;
    }
  }

  &_settings {
    background-color: $background-alt;
    padding: 1rem;
    border-radius: 5px;
  }

  &_scales {
    margin: 2rem 0;
    font-family: "iosevka nerd font";
    padding: 1.4rem;
    background-color: $background-alt;
    border-radius: 5px;
  }

  &_scale_label {
    font-family: "Material Design Icons desktop";
    font-size: 1.5rem;
    color: $foreground-alt;
  }

  &_scale_value {
    font-family: "iosevka nerd font";
    color: $foreground-alt;
  }

  &_scale trough {
    min-height: .2rem;
    border-radius: 20px;
    background-color: $comment;
    // border: 1px solid $blue;
  }


  &_scale trough highlight {
    border-radius: 20px;
    background: $foreground-alt;
  }


  &_battery {
    font-family: "Iosevka Nerd Font";
    font-size: 1.2rem;
  }

  &_sep {
    background-color: $comment;
    min-height: 1px;
    min-width: 1px;

    &_box {
      padding: 0 1rem;
    }
  }

}

.active {
  background: rgba(#647ea7, 0.1);
  color: $accent;
}
